torch~=2.3.0
numpy~=1.24.3
pillow~=10.3.0
opencv-python~=4.10.0.82
matplotlib~=3.7.2
tqdm~=4.66.4
networkx~=3.1
scikit-image~=0.21.0
torchmetrics~=1.4.0.post0
torch-geometric~=2.5.3
pandas~=2.0.3
torchvision~=0.18.0
scipy~=1.10.1